.header {
    padding: 0px 0px 50px 0px;
}
@media (max-width: 375px) {
    .header {
        width: 375px;
        padding-bottom: 0px;
    }
}
.header__image-wrapper {
    width: 490px;
    height: 326px;
    background: url(../img/header-image.jpg);
    background-size: cover;
   
}
@media (max-width: 375px) {
    .header__image-wrapper {
        width: 345px;
        height: 289px;   
        padding: 0px;
    }   
}
@media (max-width: 540px) {
    .header__image-wrapper {
        width: 540px;
        height: 289px;   
        padding: 0px;
    }   
}
.header__image-wrapper:hover {
   opacity: 0.7;
}
.header__date {
    font-family: $montserat;
    margin-bottom: 36px;
}
.header__subtitle {
    font-family: $montserat;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 36px;
    text-align: center;

}
@media (max-width: 375px) {
    .header__subtitle {
        padding-top: 25px;
    }   
}
@media (max-width: 540px) {
    .header__subtitle {
        padding-top: 25px;
    }   
}
.header__title {
    font-family: $roboto;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 36px;
    text-align: center;
}
.header__text {
    font-family: $montserat;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
@media (max-width: 375px) {
    .header__text {
        font-size: 18px;
    }
}
@media (max-width: 540px) {
    .header__text {
        font-size: 18px;
    }
}
.header__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 375px) {
    .header__text-wrapper {  
        padding: 0px;
    }   
}
@media (max-width: 540px) {
    .header__text-wrapper {  
        padding: 0px;
    }   
}
.header__nav {
    background-color: #7e9680;
    margin-bottom: 25px;
}
.header__nav a {
    color: black;
    font-size: 16px;
    transition: .7s;
}
.header__nav a:hover {
    color: white;
}
@media (max-width: 375px) {
    .header__button {
    margin-bottom: 25px;
    }
}
@media (max-width: 540px) {
    .header__button {
    margin-bottom: 25px;
    }
}