.how-do-it {
padding: 50px 0px;
}
.how-do-it__title-wrapper {
    display: flex;
    justify-content: center;
}
.how-do-it__title {
    margin-bottom: 50px;
    font-family: $roboto;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}
.card-img-top {
    width: 60px;
    height: 60px;
}
@media (max-width) {
    .how-do-it {
        width: 374px;
    }
}