.link {
    padding: 50px 0px;
}
@media (max-width: 375px) {
    .link {
        padding: 0px; 
    } 
    .link__email-wrapper {
        padding: 0px; 
    }
}
@media (max-width: 540px) {
    .link {
        padding: 0px; 
    } 
    .link__email-wrapper {
        padding: 0px; 
    }
}

.link__title {
font-family: $montserat;
font-size: 40px;
text-align: center;
margin-bottom: 50px;
}
@media (max-width: 375px) {
    .link__title {
        font-size: 32px; 
        padding-top: 25px; 
    } 
}
@media (max-width: 540px) {
    .link__title {
        font-size: 32px; 
        padding-top: 25px; 
    } 
}
.link__text {
    font-family: $roboto;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;  
}
.link__active-email {
    display: block;
color: #7e9680;
font-family: $montserat;
font-size: 20px;
text-align: center;
transition: all .7s;
}
.link__active-email:hover {
    color:#007bff;
    text-decoration: none;
    font-weight: bold;
}
.link__email {
    font-family: $montserat;
    font-size: 30px;
    text-align: center;
    }  
    .link__icon-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    @media (max-width: 375px) {
        .link__icon-wrapper{
            padding-left: 0px;
        padding-right: 0px;
        }  
    }
    @media (max-width: 540px) {
        .link__icon-wrapper{
            padding-left: 0px;
        padding-right: 0px;
        }  
    }
.link__social-link {
    margin-right: 30px;
}
.link__social-link__img {
    width: 90px;
    height: 90px;
}
@media (max-width: 375px) {
.link__social-link__img {
    width: 45px;
    height: 45px;
}
}
@media (max-width: 540px) {
    .link__social-link__img {
        width: 45px;
        height: 45px;
    }
    }
