.program {
    padding: 50px 0px 50px 0px;
}
.program__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.program__title {
    font-family: $montserat;
    font-size: 36px;
    margin-bottom: 50px;
    font-weight: bolder;
}
.program__button {
    margin-top: 50px;
}